.header {
  background-color: white;
  left: 0;
  position: fixed;
  top: 0;
}

.header-title {
  color: #212121;
  font-size: 40px;
  margin: auto;
  text-decoration: none;
  text-transform: uppercase;
}

.fixed-top {
  left: 0;
  position: fixed;
  top: 0;
}
